<div class="navbar navbar-light bg-primary">
  <h1>WeeklyBook</h1>
  <ul class="nav nav-pills">
    <li class=nav-item>
      <a class="nav-link active" href="#">Log-in</a>
    </li>
    <li class=nav-item>
      <a class="nav-link" href="#">Sign-Up</a>
    </li>
  </ul>
</div>
<div class="jumbotron jumbotron-fluid bg-info text-white text-center">
  <div class="container">
    <h1 class="display-1">Read books with friends</h1>
    <p class="lead">more books more friends</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Hello</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, accusantium. Sequi repudiandae vel tenetur eius quaerat consequatur, magni deleniti voluptates!</p>
        </div>
      </div>
    </div>
  </div>
</div>

