<div class="navbar navbar-light bg-primary">
  <h1>WeeklyBook</h1>
  <ul class="nav nav-pills">
    <li class=nav-item>
      <%= link_to 'Add user', new_user_path,  { remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'} %>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div id="modal-content" class="modal-content"></div>
        </div>
      </div>
    </li>
</div>
    </li>
    <li class=nav-item>
      <a class="nav-link" href="#">Sign-Up</a>
    </li>
  </ul>
</div>
<div class="jumbotron jumbotron-fluid bg-info text-white text-center">
  <div class="container">
    <h1 class="display-1">Read books with friends</h1>
    <p class="lead">more books more friends</p>
  </div>
</div>
<div class="container text-muted">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <%= image_tag "woman-with-book-face.jpg", class: "card-img-top img-fluid"  %>
        <div class="card-block">
          <h3 class="card-title">Hello</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, accusantium. Sequi repudiandae vel tenetur eius quaerat consequatur, magni deleniti voluptates!</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <%= image_tag "woman-with-book-window.jpg", class: "card-img-top img-fluid" %>
        <div class="card-block">
          <h2 class="card-title text-center">Hello</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, accusantium. Sequi repudiandae vel tenetur eius quaerat consequatur, magni deleniti voluptates!</p>
        </div>
      </div>
    </div>
  </div>
</div>

