<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 border p-3 mt-5">
      <h2><%= "#{current_user.full_name}" %></h2>
      <h3>Groups</h3>
      <h3>Events</h3>
    </div>
  </div>
</div>
