<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 border p-3 mt-5">
      <h2><%= "#{current_user.full_name}" %></h2>
      <h3>Groups</h3>
      <ul>
        <% current_user.groups.each do |group| %>
          <li><a href=<%= group_path(group.id) %>><%= group.name %></a></li>
        <% end%>
        <a class="btn btn-primary" href=<%= new_group_path %> role="button">Create Group</a>
      </ul>
      <h3>Events</h3>
    </div>
  </div>
</div>
